body {
    font-family: "Arial", sans-serif;
    background:#af0b0b;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: x-large;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 10 #ad2424;
    border: 10px solid #f3e6e6;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
button.game--restart {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
